.app { 
  width: 100%; 
  margin: 0 auto;
}

.app .title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.app .grid {
  padding: 15px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;
}

.app .cell {
  margin-bottom: 15px;
  border: none;
  background-color: #fff;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  position: relative;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.app .cell:hover {
  transform: scale(1.01);
}

.app .cell .caption {
  text-transform: uppercase;
}

@media (min-width: 768px) { 
  .app .cell{
    display: block;
    -webkit-box-flex: 1;
    flex: 1 1 calc(50% - 1.5rem);
    width: 50%;
    margin: 0.5rem;
  }
}
